# Terraform state files - SENSITIVE
*.tfstate
*.tfstate.backup

# Terraform provider plugins - large binaries
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log


# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json